<h1>Listing tweets</h1>
<table>
  <tr>
    <th>status1</th>
    <th>status2</th>
    <th>zombie1</th>
    <th>zombie2</th>
    <th>action</th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= link_to(tweet.status, tweet_path(tweet.id)) %></td>
      <td><%= link_to(tweet.status, tweet) %></td>
      <td><%= link_to(tweet.zombie.name, tweet.zombie) %></td>
      <td><%= link_to(tweet.zombie.name, zombie_path(tweet.zombie)) %></td>
      <td><%= link_to("Edit", edit_tweet_path(tweet)) %></td>
      <td><%= link_to("Delete", tweet, method: :delete) %></td>
    </tr>
  <% end%>  
  <%if @tweets.size == 0 %>
    <tr><td>No tweet Found</td></tr>
  <% end%>
</table>
