<h1>Homepage</h1>
<p><%= link_to("Add New Tweet", new_tweet_path) %></p>
<table>
  <% @tweets.each do |tweet| %>
    <tr>      
      <td><%= link_to(tweet.zombie.name, tweet.zombie) %> says
          <%= link_to(tweet.status, tweet) %></td>
    </tr>
  <% end%>  
  <%if @tweets.size == 0 %>
    <tr><td>No tweet Found</td></tr>
  <% end%>
</table>
<!-- <%=link_to params[:page_number].to_i-1, page_number_path(params[:page_number].to_i-1)%> -->
<%=link_to "Previous", page_number_path(@page_number-1)%>
<%=link_to @page_number, page_number_path(@page_number)%>
<%=link_to "Next", page_number_path(@page_number+1)%>
